.about {
  padding: 7rem 0;
}
.about .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.about .container-image {
  position: relative;
}
.about .container-image .icon {
  width: 7rem;
  position: absolute;
  z-index: 10;
}
.about .container-image .icon-1 {
  top: 5%;
  right: -5%;
  animation: float2 3s linear infinite;
}
.about .container-image .icon-2 {
  bottom: -5%;
  right: 7%;
  animation: float1 2s linear infinite;
}
.about .container-image .icon-3 {
  top: 25%;
  left: -7%;
  animation: float3 2.5s linear infinite;
}
.about .image {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 8px;
  width: 48rem;
  height: 58rem;
}
.about .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .content {
  width: 64rem;
}
.about p {
  color: #505050;
}
.about .stores {
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
}
@media (max-width: 1200px) {
  .about {
    padding: 5rem 0;
  }
  .about .content {
    width: 56rem;
  }
  .about .image {
    width: 35rem;
  }
}
@media (max-width: 992px) {
  .about .row {
    flex-direction: column;
  }
  .about .content {
    width: 100%;
    order: 1;
  }
  .about .container-image {
    order: 2;
  }
  .about .image {
    width: 50rem;
  }
}
@media (max-width: 768px) {
  .about .image {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .about {
    padding: 2rem 0;
  }
  .about .container-image .icon {
    width: 5rem;
  }
  .about .stores {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .about .image {
    height: 35rem;
  }
}
