.app{
  padding: 7rem 0;  
}
.app .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.app .content{
  width: 49rem;
}
.app p{
  color: #505050;
}
.app .swiper-app{
  width: 60rem;
}
.app .swiper-conteudo {
  margin: 0 auto;
  width: 100%;
  height: 53rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .swiper-conteudo img{
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 1200px) {
  .app{
    padding: 5rem 0;  
  }
  .app .swiper-app {
    width: 48rem;
  }
}
@media (max-width: 992px) {
  .app .row {
    flex-direction: column;
  }
  .app .content {
    width: 100%;
  }
  .app .swiper-app {
    width: 65rem;
  }
}