.doubt {
  position: relative;
  padding: 7rem 0;
  background-color: var(--second-3);
}
.doubt::after,
.doubt::before {
  content: '';
  position: absolute;
  width: 40rem;
  height: 40rem;
  background: radial-gradient(circle, rgb(4 153 80 / 30%) 20%, rgba(0, 0, 0, 0) 70%);
}
.doubt::before {
  left: 10%;
  top: 50%;
}
.doubt::after {
  right: 6%;
  top: 50%;
}
.doubt .row {
  width: 44rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.doubt .title,
.doubt p,
.doubt .btn-green {
  color: var(--third-1);
  text-align: center;
}
