* {
  box-sizing: border-box !important;
}
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  font-family: 'Inter', serif;
  color: #000;
  --first-1: #f6fffb;
  --first-2: #81b89d;
  --first-3: #049951;
  --second-1: #3b3b3b;
  --second-2: #070707;
  --second-3: #000000;
  --third-1: #ffffff;
  --third-2: #f8f8f8;
}
/*
@media (max-width: 1400px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 400px) {
}
*/
body {
  position: relative;
}
p {
  color: var(--third-2);
  font-size: 2rem;
  font-weight: 400;
  line-height: 135%;
}

/* BTNS*/
.btn-black {
  padding: 1.7rem 3rem;
  background: var(--second-2);
  width: fit-content;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 1.2rem;
  color: var(--third-1);
  font-size: 16px;
  font-weight: 700;
}
.btn-black img {
  width: 2.4rem;
}
.btn:hover {
  cursor: pointer;
  filter: brightness(0.95);
  transform: scale(0.97);
}
.btn:active {
  filter: brightness(0.93);
  transform: scale(0.95);
}
/*END BTNS*/
/*SWIPER*/

.swiper-global {
  display: grid;
  grid-template-columns: 7rem calc(100% - 14rem) 7rem;
  align-items: center;
}
.swiper {
  width: 100%;
  grid-column: 2/3;
}
.swiper-global .button-prev img {
  animation: buttonPrev 1s ease-in-out infinite;
}
.swiper-global .button-next img {
  transform: rotate(180deg);
  animation: buttonNext 1s ease-in-out infinite;
}
.swiper-global .button-next img,
.swiper-global .button-prev img {
  width: 4rem;
  margin: 1.5rem;
}
.swiper-global .button-next:hover,
.swiper-global .button-prev:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .swiper-global {
    grid-template-columns: 4rem calc(100% - 8rem) 4rem;
  }
  .swiper-global .button-next img,
  .swiper-global .button-prev img {
    width: 3rem;
    margin: 0.5rem;
  }
}
/*END SWIPER*/

@media (max-width: 1400px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 400px) {
}
