.hero {
  margin-top: -12.3rem;
  padding: calc(5rem + 12.3rem) 0 10rem 0;
  background: url(../img/bg-hero.svg), var(--first-3);
  background-repeat: no-repeat;
  background-size: 57vw 55vw, 100% 100%;
  background-position: 41vw 50%, center;
  animation: 2.5s herobg ease-in-out infinite;
}
.hero .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
.hero .content {
  width: 58rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero .users {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 2.2rem;
}
.hero .users ul {
  display: flex;
  margin-left: 1.2rem;
}
.hero .users ul li {
  margin-left: -1.2rem;
}
.hero .users ul li img {
  width: 5.2rem;
}
.hero .users span {
  color: var(--third-1);
  font-size: 1.4rem;
  font-weight: 600;
}
.hero h1 {
  color: var(--third-1);
  font-size: 5.6rem;
  font-weight: 700;
  line-height: normal;
}
.hero h1 span {
  position: relative;
  z-index: 1;
}
.hero h1 span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1rem;
  background: var(--first-2);
  bottom: 0.8rem;
  left: 0;
  z-index: -1;
}
.hero .stores {
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
}
.hero .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51.2rem;
}
.hero .image img {
  width: 100%;
}
@keyframes herobg {
  0% {
    background-size: 57vw 55vw, 100% 100%;
  }
  50% {
    background-size: 55vw 53vw, 100% 100%;
  }
  100% {
    background-size: 57vw 55vw, 100% 100%;
  }
}
@media (max-width: 1200px) {
  .hero {
    padding: calc(5rem + 12.3rem) 0 10rem 0;
    background-position: 50vw 74%, center;
  }
  .hero .content {
    width: 54rem;
  }
  .hero .image {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .hero {
    background-position: center 100%, center;
    background-size: 100vw 100vw, 100% 100%;
  }
  .hero .row {
    grid-template-columns: 1fr;
    gap: 10rem;
  }
  .hero .content {
    width: 100%;
  }
  .hero .image img {
    width: 60rem;
  }
  @keyframes herobg {
    0% {
      background-size: 100vw 100vw, 100% 100%;
    }
    50% {
      background-size: 97vw 97vw, 100% 100%;
    }
    100% {
      background-size: 100vw 100vw, 100% 100%;
    }
  }
}
@media (max-width: 768px) {
  .hero .image img {
    width: 95%;
  }
}
@media (max-width: 576px) {
  .hero {
    padding: calc(5rem + 9.3rem) 0 10rem 0;
  }
  .hero .row {
    gap: 5rem;
  }
  .hero h1 {
    font-size: 4.5rem;
  }
  .hero p {
    margin: 0;
  }
  .hero .users {
    margin-bottom: 0;
    gap: 0.5rem;
  }
  .hero .users ul li img {
    width: 4rem;
  }
  .hero .stores {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
@media (max-width: 400px) {
  .hero h1 {
    font-size: 4rem;
  }
}
