.take {
  padding: 7rem 0;
}
.take .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.take .content {
  width: 53rem;
}
.take .title {
  font-size: 4rem;
}
.take .stores {
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
}
.take .container-image {
  position: relative;
}
.take .container-image .icon {
  width: 7rem;
  position: absolute;
  z-index: 10;
}
.take .container-image .icon-2 {
  top: 5%;
  right: -5%;
  animation: float2 3s linear infinite;
}
.take .container-image .icon-1 {
  top: -3%;
  left: 10%;
  animation: float1 2s linear infinite;
}
.take .image {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 8px;
  width: 63rem;
  height: 58rem;
}
.take .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1400px) {
  .take .image {
    width: 60rem;
  }
}
@media (max-width: 1200px) {
  .take {
    padding: 5rem 0;
  }
  .take .image {
    width: 38rem;
  }
}
@media (max-width: 992px) {
  .take .row {
    flex-direction: column;
    gap: 5rem;
  }
  .take .content {
    width: 100%;
  }
  .take .image {
    width: 60rem;
  }
}
@media (max-width: 768px) {
  .take .image {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .take {
    padding: 2rem 0px;
  }
  .take .container-image .icon {
    width: 5rem;
  }
  .take .title {
    font-size: 2.8rem;
  }
  .take .stores {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .take .image {
    height: 28rem;
  }
}
