.take {
  padding: 7rem 0;
}
.take .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.take .content {
  width: 53rem;
}
.take .title {
  font-size: 4rem;
}
.take .stores {
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
}
.take .image {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 8px;
  width: 63rem;
  height: 58rem;
}
.take .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .take {
    padding: 5rem 0;
  }
  .take .image {
    width: 38rem;
  }
}
@media (max-width: 992px) {
  .take .row {
    flex-direction: column;
    gap: 5rem;
  }
  .take .content {
    width: 100%;
  }
  .take .image {
    width: 60rem;
  }
}