.win .row {
  background: url(../img/bg-green.svg), url(../img/bg-folder.svg);
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: 69rem, 100% 100%;
  background-position: calc(100% - -10rem) calc(100% - -20rem), center;
  display: flex;
  align-items: center;
  padding: 0 10rem;
  gap: 12rem;
}
.win .content {
  width: 43rem;
}
.win .title {
  font-size: 5.2rem;
  color: var(--third-1);
}
.win .p {
  color: var(--third-1);
}
.win .image {
  width: 60rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
}
.win .image img {
  max-width: 100%;
}
@media (max-width: 1200px) {
  .win .row {
    padding: 0 5rem;
    gap: 5rem;
  }
  .win .title {
    font-size: 4.9rem;
  }
}
@media (max-width: 992px) {
  .win .row {
    padding: 12rem 3rem 0 3rem;
    flex-direction: column;
    background-size: 65rem 65rem, 100% 100%;
    background-position: calc(100% - -10rem) calc(100% - -20rem), center;
    gap: 0;
  }
  .win .content {
    width: 100%;
  }
  .win .image {
    width: 40rem;
    justify-content: center;
  }
}